* text=auto
*.gitattributes text

# Scriptish formats
*.bat        text
*.bsh        text
*.cgi        text
*.cmd        text
*.js         text
*.php        text
*.pl         text
*.pm         text
*.py         text
*.sh         eol=lf
configure    eol=lf

# Image formats
*.bmp        binary
*.gif        binary
*.ico        binary
*.jpeg       binary
*.jpg        binary
*.png        binary
*.tif        binary
*.tiff       binary
*.svg        text

# Data formats
*.pdf        binary
*.avi        binary
*.doc        binary
*.dsp        text eol=crlf
*.dsw        text eol=crlf
*.eps        binary
*.gz         binary
*.mov        binary
*.mp3        binary
*.ppt        binary
*.ps         binary
*.psd        binary
*.rdf        binary
*.rss        text
*.rtf        binary
*.sln        text
*.swf        binary
*.tgz        binary
*.vcproj     text
*.vcxproj    text
*.vsprops    text
*.wav        binary
*.xls        binary
*.zip        binary

# Text formats
.htaccess    text
*.bbk        text
*.cmake      text
*.css        text
*.dtd        text
*.htm        text
*.html       text
*.ini        text
*.log        text
*.mak        text
*.qbk        text
*.rst        text
*.sql        text
*.txt        text
*.xhtml      text
*.xml        text
*.xsd        text
*.xsl        text
*.xslt       text
*.xul        text
*.yml        text
boost-no-inspect text
CHANGES      text
COPYING      text
INSTALL      text
Jamfile      text
Jamroot      text
Jamfile.v2   text
Jamrules     text
Makefile*    text
README       text
TODO         text

# Code formats
*.c          text
*.cpp        text
*.h          text
*.hpp        text
*.ipp        text
*.tpp        text
*.jam        text
*.java       text
